<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @component.name %>
</p>

<p>
  <b>Note:</b>
  <%= @component.note %>
</p>

<p>
  <b>Kind:</b>
  <%= @component.kind_id %>
</p>


<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
