<h1>Listing usages</h1>

<table>
  <tr>
    <th>Component</th>
    <th>Connected</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usages.each do |usage| %>
  <tr>
    <td><%= usage.component_id %></td>
    <td><%= usage.connected_id %></td>
    <td><%= link_to 'Show', usage %></td>
    <td><%= link_to 'Edit', edit_usage_path(usage) %></td>
    <td><%= link_to 'Destroy', usage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usage', new_usage_path %>
