<h1>Listing universes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @universes.each do |universe| %>
  <tr>
    <td><%= universe.name %></td>
    <td><%= universe.note %></td>
    <td><%= link_to 'Show', universe %></td>
    <td><%= link_to 'Edit', edit_universe_path(universe) %></td>
    <td><%= link_to 'Destroy', universe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Universe', new_universe_path %>
